.showbox {
  display: inline-block;
}

.showbox p {
  text-align: center;
}

.showbox img {
  border: 2px solid skyblue;
  display: block;
  width: 520px;
  height: 340px;
}

.showbox img + span {
  background-color: #00a;
  color: white;
  font-weight: bold;
  display: block;
}